
.square{
  width:45px;
  height:45px;
  border: none;
}
.square:focus {outline:0;}

.light{
  background-color: #e0ddeb;
}
.dark {
  background-color: #476899;
}
.board_row {
  font-size:0;
  display:inline-block;
}

.board_container {
  width:360px;
  height:360px;
  border: 2px solid;
  margin-left:70px ;
  margin-top:70px ;
  position:absolute;
}
.game_container {
  height: 500px;
  width:500px;
  margin:100px;
  text-align:center;
}

.back_button {
  height: 25px;
  width: 50px;
  float:right;
  margin:10px;
}

