
.square{
  position:relative;
  width:50px;
  height:50px;
  border: none;
  background-size: 46px 46px;
  background-position: center center;
  overflow: hidden;
  display:inline-block;
}

.light{
  background-color: #e0ddeb;
}
.dark {
  background-color: #476899;
}
.board_row {
  font-size:0;
}
.display {
  display:inline-block;
}

.status {
  position: absolute;
  font-size:25px;
  left:250px;
  top:10px;
}

.board_container {
  width:400px;
  height:400px;
  border: 2px solid;
  position:absolute;
  top:50px;
}
.game_container {
  position:relative;
  height: 500px;
  width:404px;
  margin-left:100px;
  margin-top:50px;
  text-align:center;
}

.button_container {
  position:relative;
  margin-top:20px;
  float: left;
}

.reset_button {
  cursor: pointer;
  margin:3px;

}

.back_button {
  cursor: pointer;
  margin:3px;
}

.engine_button {
  cursor: pointer;
  margin:3px;
}
.piece_container {
  position:absolute;
}
.react_piece { 
  height:46px;
  width:46px;
  margin:2px;
}

.hidden{
  display: none;
}
.promotion_container{
  position:fixed;
  width:100% !important;
  height:100% !important;
  top:0;
  left:0;
  margin:0px;
  background: rgba(0, 0, 0, 0.6);
}
.promotion{
  height: 200px;
  width: 50px;
  position: absolute;
  left:510px;
  top: 202px;
  float:left;
  border: 2px solid;
  border-radius:10px;
  background-color: #e0ddeb;
}
.promotion_button{
  height: 44px;
  width: 44px;
  margin:3px;
  background-size: 44px 44px;
  background-position: center center;
  background-color: #476899;
  cursor: pointer;
}
.promotion_button:focus {outline:0;}

.fen_input {
    position:absolute;
    bottom:10px;
    float:left;
}
.input_box{
  width: 210px;
}
.input_button{
  text-align:center;
  padding:0px;
  width:80px;
}
label {
  margin:5px;
}




